.cart-list {
  background: $white;
  color: $black;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.black {
    background: $black !important;
    color: $white !important;
  }

  .cart-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 100px;
      height: auto;
      padding-right: 1.5rem;
    }

    .cart-content {
      font-size: 14px;
    }
  }

  .cart-qty {
    font-size: 20px;
  }
}

.accordion {
  background: $white;
  color: $black;
  margin-bottom: -1px;
  max-height: 500px;
  overflow-y: scroll;
}
